{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome {{ customer.username }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus rutrum lectus, non ultrices justo mollis nec. Praesent leo metus, ornare ac sapien at, viverra convallis mauris. Etiam tincidunt, urna id consectetur pellentesque, enim mauris gravida nisl, in varius magna nulla in eros. Nam in convallis dolor, et dapibus magna. Ut accumsan mattis vehicula. Phasellus cursus lacus nisi, ut iaculis mauris congue a. Mauris magna lorem, convallis quis ornare dignissim, volutpat vitae nunc. In efficitur tempor auctor.</p>

    <br/>

    <code>for transition in workflow_transitions(customer)</code>
    {# Or loop through the enabled transitions #}
    <ul>
        {% for transition in workflow_transitions(customer) %}
            <li><a href="...">{{ transition.name }}</a></li>
        {% else %}
            <li>No actions available.</li>
        {% endfor %}
    </ul>


    {% if workflow_has_marked_place(customer, constant('AppBundle\\Entity\\Customer::FREE_CUSTOMER')) %}

        <h3>Upgrade Your Account!</h3>

        <p><a href="{{ path('request_account_upgrade') }}">Request account upgrade</a></p>

    {% endif %}


{% endblock %}

