{% extends 'base.html.twig' %}

{% block body %}

    <img src="{{ asset('images/generic-success.jpeg') }}"
         class="img img-responsive center-block "
         alt="generic business clipart to make you feel great about yourself"
    />

    <h1 class="text-center">Success!</h1>

{% endblock %}